.box-serie {
    background-color: rgba(0, 0, 0, 0.112);
    text-align: center;
    transition: transform ease-in-out 0.3s;
    aspect-ratio: 35/47;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    color: black;
    text-decoration: none;
    height: 100%;
}

.box-serie.zoom {
    /* transform: scale(1.05); */
}
.serie_image_container {
    display: flex;
    place-items: center;
    place-content: center;
    /* background-color: rgb(255, 0, 0); */
    height: 100%;
    width: 100%;
}

.image {
    /* position: relative; */
    max-height: 100%;
    max-width: 100%;
}

.serie_info_container {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.891);
    font-size: 100%;
    min-height: 30%;
    display:flex;
    place-items: center;
    place-content: center;

    padding: 5%;
    bottom: 0px;
    right: 0px;
    left: 0px;
    opacity: 0;
    transform: translateY(100%);
    transition: transform, opacity, ease-in-out 0.3s;
}

.serie_info_container.show {
    transform: translateY(0px);
    opacity: 1;
}

.serie_info_container>* {
    pointer-events: none;
}