.bag_view{
    display: flex;
    gap: 50px;
    place-content: center;
    background-color: rgba(255, 238, 0, 0.501);
    width: 90vw;
    height: 70vh;
}
.box_bags{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 400px;
}