.buy-box-2 {
    flex-grow: 1;
    min-width: min(max(200px, 20vh), 40%);
    width: min(max(400px, 30vh), 45%);
    max-width: min(max(400px, 30vh), 45%);
    /* background-color: rgb(94, 73, 255); */
}

.order-sumary-button {
    width: 100%;
    background-color: white;
    display: flex;
    place-content: center;
    place-items: center;
    aspect-ratio: 10/1;
    margin-bottom: 7px;
    text-decoration: none;
    color: black;
    transition-duration: 0.2s;
    transition-property: color, background-color;
    transition-timing-function: ease-in-out;
}

.order-sumary-button:hover{
    background-color: rgb(218, 218, 218);
    color: rgb(79, 79, 79);

}

.notes {
    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
    width: 100%;
    aspect-ratio: 3/2;
    background-color: white;
}

.notes>div>text {
    font-size: 80%;
}

.notes>div {
    position: relative;
    height: 80%;
    width: 80%;
    /* background-color: blueviolet; */
    display: flex;
    flex-direction: column;

}

.input-notes {
    background-color: rgba(0, 0, 0, 0);
    border: solid 1px black;
    width: 100%;
    max-height: 80%;
    margin-top: 10px;
    flex-grow: 1;
}

.input-notes:focus {
    outline: solid 1px rgba(0, 0, 0, 0.133);
}

.pays-cost-space {
    width: 100%;
    aspect-ratio: 3/1;
    margin-top: 7px;
    background-color: white;
    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
    gap: 7%;
}

.row-cost {
    /* background-color: blueviolet; */
    width: 80%;
    position: relative;
}

.row-cost>text {
    position: absolute;
    /* right: 0px; */
    left: 70%;
}