.box-product {
    background-color: rgba(0, 0, 0, 0.041);
    text-align: center;
    transition: transform ease-in-out 0.15s;
}

.box-product.zoom {
    transform: scale(1.05);
}

.image_container {
    background-color: rgba(0, 0, 0, 0.11);
    height: 100px;
    width: 180px;
}

.serie_image_container {
    background-color: rgba(0, 0, 0, 0.11);
    height: 250px;
    width: 180px;
    place-items: center;
}

.image {
    position: relative;
    border-radius: 5px;
    max-height: 100%;
    max-width: 100%;
}

.info_container {
    background-color: white;
    padding: 5px;
    font-size: 11px;
}

.info_container>* {
    margin-top: 0%;
    margin-bottom: 0px;
    pointer-events: none;
}

.serie_info_container {
    background-color: white;
    padding: 15px;
    font-size: 11px;
}

.serie_info_container>* {
    /* margin-top: 0%;
    margin-bottom: 0px; */
    pointer-events: none;
}