.container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.featured_container {
  display: flex;
  /* place-content: center; */
  /* text-align: center; */
  border: solid 1px black;
  width: fit-content;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  pointer-events: none;
}


.center_content{
  display: flex;
  place-content: center;
  text-align: center;    
}