.container_products_serie {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(max(180px, 23%), 1fr));
    grid-auto-rows: minmax(1px, auto);
    grid-gap: 10px;
}

.serie_select_space {
    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
    padding-block: 20px;
    /* width: fit-content; */
    /* background-color: rgba(255, 251, 0, 0.606); */
}

.dropdown {
    display: flex;
    flex-direction: column;
    place-items: center;
}

.dropdown>* {
    margin: 0px 0px;
}

.line {
    background-color: black;
    width: 100%;
    height: 0px;
}

.dropdown_item {
    /* position: absolute; */
    width: min(200px, 80vw);
    height: 100%;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 10px;

}

.dropdown_item:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
.dropdown_item:active {
    background-color: rgba(0, 0, 0, 0.2);
}
.dropdown_options {
    opacity: 0;
    display: flex;
    flex-direction: column;
    /* background-color: aqua; */
    max-height:0vh;
    overflow: auto;
    gap: 2px;

    transition-property:  opacity, max-height;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

.dropdown_options.show {
    display: flex;
    max-height: 15vh;
    opacity: 1;
}