/* ------------------------------------------------ */
/* Los imput de numero no muestran las flechas*/

/* Para navegadores basados en WebKit (Chrome, Safari) */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Para navegadores basados en Mozilla (Firefox) */
input[type=number] {
  -moz-appearance: textfield;
}

/* ------------------------------------------------ */


/*-----------------------------------------------------------------*/
/* Ocultar la barra de desplazamiento y permitir el desplazamiento */
/* Para Chrome, Safari y Opera */
::-webkit-scrollbar {
  display: none;
}

/* Para IE, Edge y Firefox */
html {
  -ms-overflow-style: none;
  /* IE y Edge */
  scrollbar-width: none;
  /* Firefox */
}

/*-----------------------------------------------------------------*/

/*-----------------------------------------------------------------*/
/*Para elimnar el resaltado azul en los telefonos */
* {
  -webkit-tap-highlight-color: transparent;
}

/*-----------------------------------------------------------------*/

a {
  font-family: 'Montserrat', sans-serif;
}

button {
  font-family: 'Montserrat', sans-serif;
}

.toggle {
  appearance: none;
  cursor: pointer;
  background-color: #fff;
  aspect-ratio: 1/1;
  height: 80%;
  border: none;
  border-radius: 50%;
  background-image: url(./images/check-toggle.png);
  background-size: 0%;
  background-repeat: no-repeat;
  background-position: center;

  transition-property: background-size;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;
  
}
.toggle:checked {
  background-size: 50%;
}