.header-text {
    font-size: 130%;
    border: solid 1px black;
    border-radius: 50px;
    padding: 4px;
    padding-inline: 20px;
    margin-top: 3vh;
    margin-bottom: 3vh;
    width: fit-content;
}
.full{
    width: 100%;
    height: 100%;
    background-color: rgba(204, 255, 0, 0.216);
    display: flex;
    place-content: center;
    place-items: center;
}
.fit{
    width: fit-content;
    height: fit-content;
    background-color: rgba(0, 0, 255, 0.716);
    display: flex;
    place-content: center;
    place-items: center;
}