.full-container{
    /* display: flex; */
    /* place-content: center; */
    /* place-items: center; */
    margin-top: 60px;
    margin-bottom: 130px;
    margin-left: 5%;
    margin-right: 5%;
    /* background-color: rgb(93, 93, 93); */
}