.buy-bag {
    /* width: 100%; */
    /* background-color: aqua; */
    margin-left: auto;
}

.buy-mobile {
    display: none;
}

.box_buy {
    display: flex;
    flex-direction: column;
    /* background-color: blue; */
    min-width: 200px;
    width: 100vw;
    max-width: min(400px, 35vw);
    aspect-ratio: 7/6;
    font-size: 80%;
}

.price_buy_box {
    position: absolute;
    right: 0;
}

.total_price_space {
    /* background-color: brown; */
    position: relative;
    text-align: left;
    width: 100%;
}

.space_full_box_buy {
    background-color: white;
    padding: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    place-content: top;
    place-items: center;
    flex-grow: 1;
    position: relative;
}

.continue_shopping_a {
    margin-top: 20%;
    text-decoration: none;
    font-size: 90%;
    color: rgb(53, 53, 53);
}


.checkout_buttom {
    font-size: 130%;
    display: flex;
    place-content: center;
    place-items: center;
    text-decoration: none;
    color: black;
    background-color: white;
    border: none;
    margin-top: 5px;
    /* padding: 10px; */

    transition-property: color, background-color;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
    /* flex-grow: 1; */
    height: 25%;
    cursor: pointer;
}

.checkout_buttom:hover {
    background-color: rgb(208, 208, 208);
    color: rgb(57, 57, 57);
}

.checkout_buttom:active {
    background-color: rgb(250, 250, 250);
    color: rgb(209, 209, 209);
    transition-duration: 0.1s;
}