.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(max(180px,23%),  1fr));
  grid-auto-rows: minmax(1px, auto);
  grid-gap:  10px;
}

.serie_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(max(180px,30%),  1fr));
  grid-auto-rows: minmax(1px, auto);
  grid-gap:  10px;
}


.featured_container {
  display: flex;
  /* place-content: center; */
  /* text-align: center; */
  border: solid 1px black;
  width: fit-content;
  border-radius: 50px;
  padding: 10px;
  padding-inline:20px;
  pointer-events: none;
  margin-top: 15%;
}


.center_content{
  display: flex;
  place-content: center;
  text-align: center;    
}