@media(max-width:800px) {
    .bottom_bar {
        position: relative;
        display: flex;
        place-content: center;
        z-index: 0;
        padding-top: 30px;
        padding-bottom: 30px;
        bottom: 40px;
    }
    .links{
        display: flex;
        flex-direction: column;
        place-items: center;
        gap: 10px;
    }
}