.full-container{
    position: relative;
    display: flex;
    flex-direction: column;
    place-items: center;
    margin-top: 60px;
    margin-bottom: 140px;
    margin-left: 5%;
    margin-right: 5%;
    /* background-color: rgba(0, 8, 255, 0.458); */
    width: 90%;
    max-width: 130vh;
}