@media(max-width:800px) {
    .full-container {
        flex-direction: column;
        margin-top: 60px;
        margin-bottom: 60px;
        /* background-color: rgb(0, 0, 0); */
        width: 90%;
        height: 100%;
        overflow: auto;
        min-height: calc(100vh - 350px);

    }
}