@media(max-width:800px) {
    .full-container {
        flex-direction: column;
        margin-top: 60px;
        margin-bottom: 5%;
        /* background-color: rgba(0, 255, 60, 0.244); */
        width: 90%;
        height: 100%;
        overflow: auto;
        min-height: calc(100vh - 300px);
    }
}