.product_view {
    display: flex;
    gap: 50px;
    place-content: center;
    place-items: center;
    background-color: rgba(255, 238, 0, 0.501);
    width: 90vw;
    height: 77vh;
    /* margin-top: 10%; */
}

.name {
    margin-bottom: 0px;
}

.price_view {
    margin-top: 0px;
    /* margin-bottom: 0px; */
}

.box_images {
    /* margin-top: 7vh; */
    display: flex;
    flex-direction: column;
    background-color: rgba(65, 255, 40, 0.5);
    width: 50%;
    max-width: 80vh;
    height: 100%;
    place-content: center;
    place-items: center;
}

.box_images>* {
    width: 100%;
}

.points {
    display: flex;
    place-content: center;
    place-items: center;
    align-items: center;
    /* background-color: rgb(255, 0, 234); */
    max-height: 20px;
    gap: 5px;
}

.point {
    opacity: 1;
    height: 7px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
}

.point.highlight {
    opacity: 1;
}

.image_container_view {
    position: relative;
    display: flex;
    aspect-ratio: 1 / 1;
    place-content: center;
    place-items: center;
    max-width: 100%;
    max-height: 90%;

    background-color: rgba(0, 0, 0, 0.05);
}

.box_info {
    display: flex;
    flex-direction: column;
    /* background-color: rgba(0, 0, 255, 0.372); */
    /* width: 50%; */
    max-width: 50%;

    /* cambiar height por max-height si quiere centar el cuadro de informacion */
    height: 80%;
    /* max-height: 80%; */
}

.scrollable {
    position: relative;
    /* background-color: rgba(212, 0, 255, 0.333); */
    width: 100%;
    flex-grow: 1;
    /* margin-top: 10px; */
    overflow: auto;
}

.scrollable_container {
    position: relative;
    display: flex;
    flex-grow: 1;
    /* background-color: aquamarine; */
    margin-top: 10px;
    height: 0px;
}

.vinnete_contain {
    position: absolute;
    /* background-color: rgba(255, 166, 0, 0.403); */
    height: 100%;
    width: 100%;
}

.top-vinnete {
    position: absolute;
    /* backdrop-filter: blur(2px); */
    background-image: linear-gradient(to bottom, #e9e9e9, #e9e9e900);
    top: 0px;
    bottom: 90%;
    z-index: 2;
    left: 0px;
    right: 0px;
    pointer-events: none;
}

.bottom-vinnete {
    position: absolute;
    /* backdrop-filter: blur(2px); */
    background-image: linear-gradient(to top, #e9e9e9, #e9e9e900);
    top: 90%;
    bottom: 0px;
    z-index: 2;
    left: 0px;
    right: 0px;
    pointer-events: none;
}

.top-vinnete.hide {
    display: none;
}

.add_bag {
    background-color: rgba(0, 0, 0, 0);
    font-size: 16px;
    border: solid 1px black;
    color: black;
    text-decoration: none;
    height: fit-content;
    padding: 7px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 100px;
    line-height: 1;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    transition-property: color, background-color, border;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
    /* -webkit-transition-property: color, background-color;
    -webkit-transition-duration:  1s;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-property: color, background-color;
    -moz-transition-duration:  1s;
    -moz-transition-timing-function: ease-in-out;
    -o-transition-property: color, background-color;
    -o-transition-duration:  1s;
    -o-transition-timing-function: ease-in-out; */
}

.add_bag:hover {
    color: rgb(74, 74, 74);
    border: solid 1px rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0.144);
    transition-duration: 0.1s;

}

.add_bag:active {
    color: rgb(34, 34, 34);
    border: solid 1px rgba(0, 0, 0, 0.4);
    background-color: rgba(0, 0, 0, 0.144);
}


.add_count {
    border: solid 1px black;
    width: fit-content;
    padding: 7px;
    padding-inline: 9px;
    border-radius: 50px;
    display: flex;
    text-align: center;
    line-height: 1;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* height: 100%; */
    min-width: 12px;
    display: inline-block;
}

.add_space {
    display: flex;
    gap: 10px;
    place-items: center;
    /* background-color: blanchedalmond; */
    /* place-content: center; */
    /* position: relative; */
}

.add_space>* {
    margin-top: 0px;
    margin-bottom: 0px;
}

.text_block {
    margin-top: 10px;
    margin-bottom: 25px;
}

.text_block>* {
    margin-top: 0px;
    margin-bottom: 0px;
}

.left_to_click {
    /* background-color: blueviolet; */
    position: absolute;
    left: 0px;
    width: 50%;
    height: 100%;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.right_to_click {
    /* background-color: rgb(43, 226, 211); */
    position: absolute;
    right: 0px;
    width: 50%;
    height: 100%;
    cursor: pointer;
}


.image_view,
.image_view_hide {
    position: absolute;
    max-height: 100%;
    max-width: 100%;
}

.image_view_hide {
    opacity: 0;
}

.fade_in {
    animation: fadeIn 0.4s ease forwards;
}

.fade_out {
    animation: fadeOut 0.4s ease forwards;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}