.product_view {
    display: flex;
    gap: 50px;
    place-content: center;
    /* place-items: center; */
    background-color: rgb(255, 238, 0);
    width: 90vw;
    height: 70vh;

    /* margin-top: 10%; */
}

.name {
    margin-bottom: 0px;
}

.price_view {
    margin-top: 0px;
    /* margin-bottom: 0px; */
}

.box_images {
    margin-top: 7vh;
    display: flex;
    background-color: rgba(65, 255, 40, 0.466);
    width: 50vh;
    max-width: 41vw;
    height: 80%;
    place-content: center;
    place-items: center;
    min-width: 30vh;
}

.box_images>* {
    width: 100%;
}

.points {
    display: flex;
    place-content: center;
    place-items: center;
    align-items: center;
    /* background-color: rgb(255, 0, 234); */
    max-height: 20px;
    gap: 5px;
}

.point {
    height: 7px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
}

.image_container_view {
    position: relative;
    display: flex;
    aspect-ratio: 1 / 1;
    place-content: center;
    place-items: center;
    width: 100%;
    max-width: 100%;
    max-height: 60%;
    background-color: rgba(0, 0, 0, 0.034);
}

.box_info {
    display: flex;
    flex-direction: column;
    background-color: blue;
    width: 50%;
    margin-top: 7vh;
    margin-bottom: 7vh;
    position: relative;
}

.scrollable_container {
    position: relative;
    /* background-color: rgb(212, 0, 255); */
    width: 100%;
    flex-grow: 1;
}

.scrollable {
    position: absolute;
    /* background-color: rgb(255, 166, 0); */
    overflow: auto;
    bottom: 0px;
    top: 0px;
}

.add_bag {
    border: solid 1px black;
    color: black;
    text-decoration: none;
    height: fit-content;
    padding: 7px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 100px;
    line-height: 1;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.add_count {
    border: solid 1px black;
    width: fit-content;
    padding: 7px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 50%;
    display: flex;
    text-align: center;
    line-height: 1;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.add_space {
    display: flex;
    gap: 10px;
    /* background-color: blanchedalmond; */
}

.add_space>* {
    margin-top: 0px;
    margin-bottom: 0px;
}

.text_block {
    margin-top: 10px;
    margin-bottom: 25px;
}

.text_block>* {
    margin-top: 0px;
    margin-bottom: 0px;
}

.left_to_click {
    /* background-color: blueviolet; */
    position: absolute;
    left: 0px;
    width: 50%;
    height: 100%;
    cursor: pointer;
}

.right_to_click {
    /* background-color: rgb(43, 226, 211); */
    position: absolute;
    right: 0px;
    width: 50%;
    height: 100%;
    cursor: pointer;
}


.image_view,
.image_view_hide {
    position: absolute;
    max-height: 100%;
    max-width: 100%;
}

.image_view_hide {
    opacity: 0;
}

.fade_in{
    animation: fadeIn 0.4s ease forwards;
}

.fade_out{
    animation: fadeOut 0.4s ease forwards;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
