@media(max-width:800px) {
    .bottom_bar {
        /* background-color: brown; */
        position: relative;
        top:0px;
    }
    .links{
        display: flex;
        flex-direction: column;
        place-items: center;
        gap: 10px;
    }
}