.bar {
  display: flex;
  justify-content: right;
  width: 100%;
  background-color: rgb(255, 255, 255);
  padding: 5px 5px;
  z-index: 10;
  /* margin-top: 0px; */
}
.bar>*{
  margin-right: 5px;
}


.shop-buttom {
  position: relative;
}
.shop-buttom img{
  height: 30px;
}

.menu_buttom {
  height: 30px;
}

.red-point {
  max-height: 20%;
  position: absolute;
  right: 10%;
  top: 10%;
}