.paynow-button {
    background-color: rgb(40, 40, 40);
    color: white;
    border: none;
    width: fit-content;
    place-self: center;
    font-weight: 600;
    height: 50px;
    width: min(220px,80%);    
    font-size: 150%;
    border-radius: 50px;
    margin-top: 20px;
    cursor: pointer;
    transition-property: background-color, color,  transform;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

.paynow-button:hover {
    color: rgb(255, 255, 255);
    transform: scale(1.1);
    background-color: black;

}