@media(max-width:800px) {
    .box-product {
        background-color: rgba(0, 0, 0, 0.112);
        overflow: visible;
        /* background-color: red; */
        /* aspect-ratio: auto; */
    }

    .info_container {
        background-color: #ffffff;
        padding: 5px;
        opacity: 1;
        transform: translateY(0%);
        position: static;
        /* min-height: 0%; */
    }

    .info_container>a {
        text-decoration: none;
    }
}