.information {
    max-width: min(50%,800px);
    width: 100%;
    min-width: 0px;
    flex-grow: 1;
    margin-left: auto;
    /* background-color: rgba(255, 255, 255, 0.308); */
}

.header-in-info {
    /* margin-top: 0px; */
    margin-bottom: 10px;
    margin-left: 10px;
}

.email-space {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.shipping-space {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.input-info {
    background-color: rgba(0, 0, 0, 0);
    border: solid 1px black;
    border-radius: 25px;
    padding: 10px;
    font-size: 90%;
    min-width: 0px;
}
.input-info:focus{
    outline: none;
}

.shipping-row {
    display: flex;
    width: 100%;
    gap: min(10px,3%);
    margin-bottom: 10px;
    flex-grow: 1;
}

.input-space {
    display: flex;
    flex-direction: column;
    min-width: 40px;
    flex-grow: 1;
    margin-top: auto;
}

.input-space>text {
    margin-left: 10px;
    margin-bottom: 7px;
}